body{

    background-color: white;
}
#dCabecalho{

    background-color: rgb( 163,73,164);
    width:1349px;
    height: 30px;
    margin-top: -56px;
    margin-left: -8px;
    animation-name: animaDCabecalhoFechar;
    animation-duration: 1s;

}

#dCabecalho:hover{
 
    animation-name: animaDCabecalhoAbrir;
    margin-top: -8px;
}

@keyframes animaDCabecalhoAbrir {
from{

    margin-top: -56px;

}

to{

    margin-top: -8px;

}

}


@keyframes animaDCabecalhoFechar {
    from{
    
         margin-top: -8px;
    
    }
    
    to{
    
       margin-top: -56px;
    
    }
    
    }

#tabelaDeCabecalho{

    position: absolute;

}

.botoesDeNavegacao{

    background-color: white;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    border: 1px solid transparent;
    border-bottom: 2px solid rgb(245, 159, 245); 
    border-right: 2px solid rgb(245, 159, 245);
    margin-left: 8px;
    margin-right: 8px;
    margin-top:  -5px;

}

 
.botoesDeNavegacao:hover {

    
    border: 1px solid rgb(224, 83, 224);
    border-bottom: 2px solid rgb(224, 83, 224); 
    border-right: 2px solid rgb(224, 83, 224);
}


.botoesDeNavegacao:active{

    
    border: 1px solid rgb(245, 159, 245);
    border-bottom: 2px solid rgb(245, 159, 245); 
    border-right: 2px solid rgb(245, 159, 245);
}

#inputDePesquisa{

    width: 300px;
    margin-top: -21px;
    margin-left: 200px;
    border: outset 1px white;
}

#inputDePesquisa:active{

    border: inset 1px white;
}

#botaoDePesquisa{

    width: 40px;
    height: 19px;
    background-color: white;
    margin-top: -21px;
    margin-left: 7px;

    border: outset 1px white;
}


#botaoDePesquisa:hover{
 
    border: outset 1px gray;
}


#botaoDePesquisa:active{
 
    border: inset 1px white;
}

#fontDeBotaoOkDePesquisa{
   
    font-family: 'Franklin Gothic Medium';
    font-size: 10px;
}

#dInicio{

    background-color: rgb(0,162,232);    
    margin-left: 48px;
   
}

#dASeguir{

    background-color: rgb(255,0,255);
    margin-left: 30px;
}

#dGuardados{

    background-color: rgb(0,255,0);
    margin-left: 21px;
}

#dMinhasResponsabilidades{

    background-color: rgb(255,242,0);
    margin-left: -22px;
}

#dMeusCadernos{

    background-color: rgb(0,162,232);
    margin-left: -6px;
}

#dModoConcentracao{

    background-color: rgb(255,0,255);
    margin-left: 5px;
}

#dOutrasOpcoes{

    background-color: rgb(0,255,0);
    margin-left: -5px;
}

#dAjustes{

    background-color: rgb(255,242,0);
    margin-left: 15px;
}
 




#botaoDeMenu{
    top:2px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    border: outset  2px;
    border-color:transparent rgba(0, 0, 0, 0.801) rgba(0, 0, 0, 0.801) transparent;  
}
#imagemDeBotaoDeMenu{

    
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.dQuadrinhosDeMenu{

    height: 60px;
    width: 2px; 
    position: absolute;
    margin-top: -30px;
   
     /*  margin-top: -75px;
   
    */

}


 #dBarraDeMenuAberto{

    position: absolute;
    background-color: rgb(227,193,227); 
    width: 239px;
    height: 597px;
    left: -231px;
    top:  24px;
    border-radius:0px 5px 5px 0px; 
    animation-name: animaDBarraDeMenuFechar;
    animation-duration: 0.5s;

}

#dBarraDeMenuAberto:hover{

    animation-name: animaDBarraDeMenuAbrir;
    top:  -4px;
    left: -5px; 
}

@keyframes animaDBarraDeMenuAbrir{

    from{
        left: -200px;
        top:  24px;
        
    }
    
    to{ 
        left: -5px;
        top:  -4px; 
    }
}


@keyframes animaDBarraDeMenuFechar{

    from{
         left: -5px;
         top:  -4px;
       

    }
    
    to{ 
        left: -222px;
        top:  24px;
    }
} 


#tabelaDeMenuAberto{
   
    width: 239px;
    height: 590px;
}

#tabelaDeMenuAberto tr td{

    padding: 0px 30px 0px 6px;
    margin-bottom:10px;
    
   
    
}


.botaoQuadradosDeMenu{

    width: 68px;
    height: 58px;
    border-radius: 6px;
    background-color: white;
    border: solid white 1px;
    position: relative;
}

.botaoQuadradosDeMenu::after{

    content: "";
    position: absolute;
    width: 1px;
    height: 57px;
    left:-12px;
    background-color: white;
    top:0px;

}
.letrasDoMenu{
    font-family: 'Comic Sans MS';
    font-size: 12px;
 
}

.trMeusCadernos:hover{
 
    background-color: rgb(0,162,232); ;
}
#linhaDeDivDeInicio{

    background-color: white;
     width:50px ;
     height:1px;
     border: none;
     position:absolute;
     margin-top:-1px;
     margin-left:-7px;
}

#linhaDeDivDeASeguir{

    background-color: white;
     width:70px ;
     height:1px;
     border: none;
     position:absolute;
     margin-top:-1px;
     margin-left:-7px;
}

#linhaDeDivDeGuardados{

    background-color: white;
     width:74px ;
     height:1px;
     border: none;
     position:absolute;
     margin-top:-1px;
     margin-left:-7px;
}

#linhaDeDivDeMinhasResponsabilidades1{

    background-color: white;
     width:52px ;
     height:1px;
     border: none;
     position:absolute;
     margin-top:-1px;
     margin-left:-7px;
}


#linhaDeDivDeMinhasResponsabilidades2{

    background-color: white;
     width:114px ;
     height:1px;
     border: none;
     position:absolute;
     margin-top:-1px;
     margin-left:-7px;
}

#linhaDeDivDeMeusCadernos{

    background-color: white;
     width:100px ;
     height:1px;
     border: none;
     position:absolute;
     margin-top:-1px;
     margin-left:-7px;
}

#linhaDeDivDeModoConcentracao1{

    background-color: white;
     width:42px ;
     height:1px;
     border: none;
     position:absolute;
     margin-top:0px;
     margin-left:-6px;
}

#linhaDeDivDeModoConcentracao2{

    background-color: white;
     width:87px ;
     height:1px;
     border: none;
     position:absolute;
     margin-top:0px;
     margin-left:-6px;
}

#linhaDeDivDeOutrasOpcoes{

    background-color: white;
     width:100px ;
     height:1px;
     border: none;
     position:absolute;
     margin-top:1px;
     margin-left:-7px;
}
#linhaDeDivDeAjustes1{

    background-color: white;
     width:77px ;
     height:1px;
     border: none;
     position:absolute;
     margin-top:-1px;
     margin-left:-7px;
}

#linhaDeDivDeAjustes2{

    background-color: white;
     width:58px ;
     height:1px;
     border: none;
     position:absolute;
     margin-top:-1px;
     margin-left:-7px;
}


/* Icones de Direita________________________________________________________________________________________________*/

#dBarraDireita{

    
    background-color: rgb(227,193,227);
    position: absolute;
    margin-left: 1081px ;
    top: 5px;
    width: 250px;
     
    height: 50px; 

}
 .tabelaDaBarraDireita{
  
    
    margin-left: 337px ;
    top: -15px;
    position: absolute;
    width: 250px;   
    height: 30px;   
    
    
} 
/*.tabelaDaBarraDireita tr td{
 

}*/
.botaoDaBarraDireita{

    background-color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    
    border: 2px outset;
    border-color: transparent rgb(227,193,227)rgb(227,193,227)   transparent;
 

} 


.botaoDaBarraDireita:active{ 

    border: 2px inset;
    border-color: rgb(227,193,227) transparent   transparent rgb(227,193,227)  ;

    
}
.imagemDoBotaoDaBarraDireita{

    border-radius: 50%;
    

}

#botaoDeNotificacaoDaBarraDireita{

  margin-top: 18px;

}

  

#fontAviso{

    font-size: 45px;
    color: gray;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

#botaoCirculoCriar{

    background-color: white;
    border: 3px outset white ;
    border-radius: 50%;
    width: 200px;
    height: 200px;
}
#botaoCirculoCriar:hover{

    background-color: rgba(80, 74, 74, 0.060); 
}

#botaoCirculoCriar:active{

    border: 3px inset white ;
}

#fontCriar{

    
    font-size: 30px;
    color: gray;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


}



/* Fim de ícones da direita________________________*/

.dTiposDeCadernos{

    background-color:transparent; 
    font-family:  'Arial Narrow' ;
    width: 800px;
    height: 24px;
    font-size: 24px;
    padding-right: 20px;
    margin-left: 20px;
    font-weight: 400; 
    text-align: end;
    border-bottom: solid 2px rgb(0,162,232);  

}

.dTiposDeCadernos:hover{ 
    animation-name: animaDTiposDeCadernos;
    animation-duration:1s;
    animation-fill-mode: forwards;
}
@keyframes animaDTiposDeCadernos{
    from{

        background-color: transparent;
    }
    to{
        background-color: rgb(0,162,232);

    }
}
  
/*  
CAderno Aberto----------------------------------------------------------------------------------------------------------------------------*/
#tabelaCaderno{
 
    margin: 4px 4px 4px 8px;   
    
} 
 

#tabelaDeSeccao { 
    margin-top: 0px;
}

.seccao{

    width: 45px;
    height: 10px;
    background-color: rgb(39, 3, 39);
    position: relative;
    border-top-left-radius: 4px;
    border-top-right-radius: 2px;
    animation-name: animaSeccao;
    animation-duration: 2s;
    
} 

@keyframes animaSeccao{

    from{
        width: 0px;
        height: 0px;
    }

    to{
        width: 45px;
        height: 10px;
    }
}

#seccao1{
    background-color: rgb(227,193,227);
}
.seccaoAfter{
  
     width: 0px;
    height: 0px;  
    left:45px;
    margin-top: -10px;
    margin-left: 44px; 
    animation-name: animaSeccaoAfter;
    animation-duration: 2s;
   border-top: solid 5px transparent ;
   border-left: 5px solid rgb(39, 3, 39);
   border-bottom: 5px rgb(39, 3, 39) solid;
   border-right: solid transparent 5px;
    

}

@keyframes animaSeccaoAfter{

    from{margin-top: 0px;
        margin-left: 0px; 
        border-top: solid 0px transparent ;
        border-left: 0px solid rgb(39, 3, 39);
        border-bottom: 0px rgb(39, 3, 39) solid;
        border-right: solid transparent 0px;
    }

    to{
        margin-top: -10px;
        margin-left: 44px; 
        border-top: solid 5px transparent ;
        border-left: 5px solid rgb(39, 3, 39);
        border-bottom: 5px rgb(39, 3, 39) solid;
        border-right: solid transparent 5px;
    }
}
#seccaoAfter1{
   border-top: solid 5px transparent ;
   border-left: 5px solid rgb(227,193,227);
   border-bottom: 5px rgb(227,193,227) solid;
   border-right: solid transparent 5px;
   animation-name: animaSeccaoAfter1;
   animation-duration: 2s;
    
}
@keyframes animaSeccaoAfter1{

    from{ 
            
            margin-top: 0px;
            margin-left: 0px; 
            border-top: solid 0px transparent ;
            border-left: 0px solid rgb(227,193,227);
            border-bottom: 0px rgb(227,193,227) solid;
            border-right: solid transparent 0px;
  
    }

    to{
        margin-top: -10px;
        margin-left: 44px;  
        border-top: solid 5px transparent ;
        border-left: 5px solid rgb(227,193,227);
        border-bottom: 5px rgb(227,193,227) solid;
        border-right: solid transparent 5px;
  
    }
}
.nomeDeSeccao{

    font-size: 14px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
} 

#tabelaQuadroPagina{

    background-color:rgb(227,193,227);
    width: 422px;
    height: 220px;
    margin:-7px 0px 0px 0px; 
    border-radius: 2px;
    animation: animaTabelaQuadroPagina 2s ;
    
    box-shadow: 0px 4px 6px gray;

}


@keyframes animaTabelaQuadroPagina{

    from{ 
        box-shadow: none;    
  
    }
 
    90%{box-shadow: none;

    }
    to{  width: 422px;
        height: 220px;
        box-shadow: 0px 4px 6px gray; 
         
  
    }
}

.pagina{
    background-color: rgb(39, 3, 39);
    width: 353px;
    height: 212px;
    margin: 0px 0px 0px 2px;
    animation: animaPagina 2s ;
    border-radius:2px ;


}

@keyframes animaPagina{

    from{ 
            
        width: 0px;
        height: 0px;
  
    }

    to{  width: 353px;
        height: 212px;
  
    }
}


#fontPaginas{
    width: 90px;
    margin-left:-15px;
    margin-top:-284px;
    border-bottom: 1px white solid;
    padding-bottom: 4px;
    font-family: 'Comic Sans MS' ;
    font-size: 16px;
    color: rgb(176, 128, 89);
}


#tabelaDePaginas{ 
    animation: animaTabelaDePaginas 2s ;
    margin-top: -104px;
    width: 56px;
    height: 70px; 
    text-align: center;
    
    font-family: 'Calibri' ;
    font-size: 12px;
    background-color: rgb(39, 3, 39);
    margin-left: -2px;
    border-radius: 2px;
}

@keyframes animaTabelaDePaginas{

    from{ 
            
        width: 0px;
        height: 0px;
  
    }

    to{   width: 56px;
        height: 70px;
  
    }
}
 

.tdPaginas{

    background-color: transparent;  
    border-radius: 2px;
    text-align: center;  
    
}

@keyframes animaTdPaginas{
    from{

        background-color: transparent;
    }
    6%{
        
        background-color: rgba(255, 255, 255, 0.774);
    }
    16%{
        
        background-color: transparent;
    }
    to{
        
        background-color: transparent;
    }
}
#tdPaginaInicial{
    
    animation-name: animaTdPaginas;
    animation-delay: 2s;
    animation-duration: 6s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

#tdPagina1{
    
    animation-name: animaTdPaginas;
    animation-delay: 3s;
    animation-duration: 6s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

#tdPagina2{
    
    animation-name: animaTdPaginas;
    animation-delay: 4s;
    animation-duration: 6s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}


#tdPagina3{
    
    animation-name: animaTdPaginas;
    animation-delay: 5s;
    animation-duration: 6s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}


#tdPagina4{
    
    animation-name: animaTdPaginas;
    animation-delay: 6s;
    animation-duration: 6s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}




.tdPaginas:hover{
    background-color: rgba(255, 255, 255, 0.774);
} 


#botaoAdicionarPagina{

    width:  20px;
    height: 20px;
    background-color: white; 
    border: 1px outset white ;
    border-radius: 50%  ;
} 
#botaoAdicionarPagina:hover{

background-color: rgba(255, 255, 255, 0.815); 
}

#botaoAdicionarPagina:active{

border: 1px inset white ;
} 