body{
 
    background-color: rgba(129, 41, 40, 0.329);
     
}
#dCabecalho{

    background-color: rgb(116, 77, 45);
    width:1349px;
    height: 30px;
    margin-top: -62px;
    margin-left: -8px;
    animation-name: animaDCabecalhoFechar;
    animation-duration: 1s;

}

#dCabecalho:hover{
 
    animation-name: animaDCabecalhoAbrir;
    margin-top: -8px;
}

@keyframes animaDCabecalhoAbrir {
from{

    margin-top: -56px;

}

to{

    margin-top: -8px;

}

}


@keyframes animaDCabecalhoFechar {
    from{
    
         margin-top: -8px;
    
    }
    
    to{
    
       margin-top: -56px;
    
    }
    
    }

#tabelaDeCabecalho{

    position: absolute;

}

.botoesDeNavegacao{

    background-color: white;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    border: 1px solid transparent;
    border-bottom: 2px solid rgb(245, 159, 245); 
    border-right: 2px solid rgb(245, 159, 245);
    margin-left: 8px;
    margin-right: 8px;
    margin-top:  0px;

}

 
.botoesDeNavegacao:hover {

    
    border: 1px solid rgb(224, 83, 224);
    border-bottom: 2px solid rgb(224, 83, 224); 
    border-right: 2px solid rgb(224, 83, 224);
}

#inputDePesquisa{

    width: 300px;
    margin-top: -21px;
    margin-left: 200px;
    border: outset 1px white;
}

#inputDePesquisa:active{

    border: inset 1px white;
}

#botaoDePesquisa{

    width: 40px;
    height: 19px;
    background-color: white;
    margin-top: -21px;
    margin-left: 7px;

    border: outset 1px white;
}


#botaoDePesquisa:hover{
 
    border: outset 1px gray;
}


#botaoDePesquisa:active{
 
    border: inset 1px white;
}

#fontDeBotaoOkDePesquisa{
   
    font-family: 'Franklin Gothic Medium';
    font-size: 10px;
}

#dInicio{

    background-color: rgb(0,162,232);    
    margin-left: 48px;
   
}

#dASeguir{

    background-color: rgb(255,0,255);
    margin-left: 30px;
}

#dGuardados{

    background-color: rgb(0,255,0);
    margin-left: 21px;
}

#dMinhasResponsabilidades{

    background-color: rgb(255,242,0);
    margin-left: -22px;
}

#dMeusCadernos{

    background-color: rgb(0,162,232);
    margin-left: -6px;
}

#dModoConcentracao{

    background-color: rgb(255,0,255);
    margin-left: 5px;
}

#dOutrasOpcoes{

    background-color: rgb(0,255,0);
    margin-left: -5px;
}

#dAjustes{

    background-color: rgb(255,242,0);
    margin-left: 15px;
}
 




#botaoDeMenu{
    top:2px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    border: outset  2px;
    border-color:transparent rgba(0, 0, 0, 0.801) rgba(0, 0, 0, 0.801) transparent;  
}
#imagemDeBotaoDeMenu{

    
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.dQuadrinhosDeMenu{

    height: 60px;
    width: 2px; 
    position: absolute;
    margin-top: -30px;
   
     /*  margin-top: -75px;
   
    */

}


 #dBarraDeMenuAberto{

    position: absolute;
    background-color: rgb(227,193,227); 
    width: 239px;
    height: 597px;
    left: -231px;
    top:  60px;
    border-radius:0px 5px 5px 0px; 
    animation-name: animaDBarraDeMenuFechar;
    animation-duration: 0.5s;

}

#dBarraDeMenuAberto:hover{

    animation-name: animaDBarraDeMenuAbrir;
    
    left: -5px; 
}

@keyframes animaDBarraDeMenuAbrir{

    from{
        left: -200px;
        
    }
    
    to{ 
        left: -5px; 
    }
}


@keyframes animaDBarraDeMenuFechar{

    from{
         left: -5px;
       

    }
    
    to{ 
        left: -222px;
        
    }
} 


#tabelaDeMenuAberto{
   
    width: 239px;
    height: 590px;
}

#tabelaDeMenuAberto tr td{

    padding: 0px 30px 0px 6px;
    margin-bottom:10px;
    
   
    
}


.botaoQuadradosDeMenu{

    width: 68px;
    height: 58px;
    border-radius: 6px;
    background-color: white;
    border: solid white 1px;
    position: relative;
}

.botaoQuadradosDeMenu::after{

    content: "";
    position: absolute;
    width: 1px;
    height: 57px;
    left:-12px;
    background-color: white;
    top:0px;

}
.letrasDoMenu{
    font-family: 'Comic Sans MS';
    font-size: 12px;
 
}

.trMeusCadernos:hover{
 
    background-color: rgb(0,162,232); ;
}
#linhaDeDivDeInicio{

    background-color: white;
     width:50px ;
     height:1px;
     border: none;
     position:absolute;
     margin-top:-1px;
     margin-left:-7px;
}

#linhaDeDivDeASeguir{

    background-color: white;
     width:70px ;
     height:1px;
     border: none;
     position:absolute;
     margin-top:-1px;
     margin-left:-7px;
}

#linhaDeDivDeGuardados{

    background-color: white;
     width:74px ;
     height:1px;
     border: none;
     position:absolute;
     margin-top:-1px;
     margin-left:-7px;
}

#linhaDeDivDeMinhasResponsabilidades1{

    background-color: white;
     width:52px ;
     height:1px;
     border: none;
     position:absolute;
     margin-top:-1px;
     margin-left:-7px;
}


#linhaDeDivDeMinhasResponsabilidades2{

    background-color: white;
     width:114px ;
     height:1px;
     border: none;
     position:absolute;
     margin-top:-1px;
     margin-left:-7px;
}

#linhaDeDivDeMeusCadernos{

    background-color: white;
     width:100px ;
     height:1px;
     border: none;
     position:absolute;
     margin-top:-1px;
     margin-left:-7px;
}

#linhaDeDivDeModoConcentracao1{

    background-color: white;
     width:42px ;
     height:1px;
     border: none;
     position:absolute;
     margin-top:0px;
     margin-left:-6px;
}

#linhaDeDivDeModoConcentracao2{

    background-color: white;
     width:87px ;
     height:1px;
     border: none;
     position:absolute;
     margin-top:0px;
     margin-left:-6px;
}

#linhaDeDivDeOutrasOpcoes{

    background-color: white;
     width:100px ;
     height:1px;
     border: none;
     position:absolute;
     margin-top:1px;
     margin-left:-7px;
}
#linhaDeDivDeAjustes1{

    background-color: white;
     width:77px ;
     height:1px;
     border: none;
     position:absolute;
     margin-top:-1px;
     margin-left:-7px;
}

#linhaDeDivDeAjustes2{

    background-color: white;
     width:58px ;
     height:1px;
     border: none;
     position:absolute;
     margin-top:-1px;
     margin-left:-7px;
}


/* Icones de Direita________________________________________________________________________________________________*/

#dBarraDireita{

    
    background-color: rgb(227,193,227);
    position: absolute;


    
    margin-left: 1081px ;
    top: 5px;
    width: 250px; 
    height: 50px; 
     

}
 .tabelaDaBarraDireita{
    margin-left: 337px ;
    top: -15px;
    position: absolute;
    width: 250px;   
    height: 30px;  
    
} 
.tabelaDaBarraDireita tr td{
 
}
.botaoDaBarraDireita{

    background-color: white;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 2px outset;
    border-color: transparent rgb( 163,73,164) rgb( 163,73,164)  transparent;
 

}
.botaoDaBarraDireita:hover{

    border: 2px outset;
    border-color: transparent rgb(239, 9, 243) rgb(239, 9, 243) transparent;
 
    

}
.imagemDoBotaoDaBarraDireita{

    border-radius: 50%;
    

}

#botaoDeNotificacaoDaBarraDireita{

    margin-top: 20px;

}


.botaoDaBarraDireita:focus{
    animation-name: animaBotaoDaBarraDireita;
    animation-duration: 0.1s;
    
}
@keyframes animaBotaoDaBarraDireita{

    from{
        
        border: 2px inset;
        border-color: rgb( 163,73,164) transparent   transparent rgb( 163,73,164) ;
       
    }
    80%{
        border: 2px inset;
        border-color:  rgb( 163,73,164) transparent   transparent rgb( 163,73,164) ;
       
    }
    to{
        border: 2px outset;
        border-color: transparent rgb( 163,73,164) rgb( 163,73,164)  transparent ;
       
    }
}

#fontAviso{

    font-size: 45px;
    color: gray;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

#botaoCirculoCriar{

    background-color: white;
    border: 3px outset white ;
    border-radius: 50%;
    width: 200px;
    height: 200px;
}
#botaoCirculoCriar:hover{

    background-color: rgba(80, 74, 74, 0.060); 
}

#botaoCirculoCriar:active{

    border: 3px inset white ;
}

#fontCriar{

    
    font-size: 30px;
    color: gray;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


}



/* Fim de ícones da direita________________________*/


/* Abrir                 Caderno--------------------------------------------------------------------------*/
.dCaderno{

    width: 1000px;
    height: 650px;
     
    background-repeat: no-repeat;
    background-size: 400px 600px;

}

/*.quadroDoCaderno{

    width: 1300px;
    height: 600px;
    border: ridge whitesmoke 4px;


     
    background-position: center;
    background-image: url("/Users/kingPercis/Pictures/Mara Escola e Musicas... Life !/Project Us/Execução/ícones e imagens/Fundo Café 1.png");

  
    background-attachment: scroll;


}
.imagensDoFundo{

    max-width: 200px;
    max-height: 200px;
}*/

#tabelaDosQuadros{ 
    
    margin-left: -12px; 
}
#tabelaDosQuadros tr td{ 

    padding:0px;
    margin:0px;
     
}

.quadroCentral{
    position: absolute;
 
    width: 1240px;
    height: 590px;  
       
    background-position: center;
    background-image: url("/Users/kingPercis/Pictures/Mara Escola e Musicas... Life !/Project Us/Execução/ícones e imagens/Fundo Café 1.jpg");

    background-attachment: scroll; 
    background-repeat: no-repeat;
    background-size: 1240px; 
    /*border-top: solid 2px rgb(176, 128, 89,0.600);*/
    margin: 0px;


}

.quadroEsquerdo{

    background-color: rgb(116, 77, 45);
    width: 143px;
    height: 758px;  
    border-top-right-radius:15px ;

}


.quadroDireito{

    background-color: rgb(176, 128, 89);
    width: 240px;
    height:400px;  
    border-top-left-radius: 15px;  
    display: inline-block;
    

} 
.imgDeQuadroDireito{

    
    max-width: 240px;
    max-height: 400px;
    border-top-left-radius: 20px;
    display: inline-block; 

}
.quadroCabecalho{

    background-color: rgba(255, 255, 255, 0.785);
    width: 600px;
    height: 400px;   
    padding: 10px;
    animation-name: animaQuadroCabecalho;
    animation-duration: 3s;

}

@keyframes animaQuadroCabecalho{
    from{

        background-color: transparent;
    }
    to{ 
        background-color: rgba(255, 255, 255, 0.785);
    }
}


.fontTituloDeCaderno1{

    background-color: transparent;
    letter-spacing: 10px;
    font-size: 60px;
    color: rgb(116, 77, 45);
    font-family: 'Franklin Gothic Medium';
    padding: 0px 20px 0px 20px ;
     
    border-left: solid white 4px;
    animation-name: animaFontTituloDeCaderno1;
    animation-duration:2s ; 

}
@keyframes animaFontTituloDeCaderno1{
    from{
        padding: 0px 20px 0px 0px ;
        color: transparent;
        border-left: solid transparent 4px;

    }
 
    50%{ 
        border-left: solid white 4px;
    }
    to{
        padding: 0px 20px 0px 20px ;
        color: rgb(116, 77, 45); ;
        border-left: solid white 4px;
    }
}
.fontTituloDeCaderno2{

    font-family: 'Comic Sans MS' ;
    padding: 0px 10px 0px 10px;
    color:rgb(176, 128, 89);
    font-size: 40px; 
    animation: animaFontTituloDeCaderno2 2s ;

}
@keyframes animaFontTituloDeCaderno2{

    from{
        color:transparent;   
    }
    25%{
        color:transparent;
    }
    to{
        color:rgb(176, 128, 89);
       
    }

}

.tracoDeFontTituloDeCaderno2{

    width: 30px;
    height: 4px;

    
    animation: animaTracoDeFontTituloDeCaderno2 5s ;
    border: none;
    background-color: rgb(242, 190, 107);
}

@keyframes animaTracoDeFontTituloDeCaderno2{

    from{
        background-color:  transparent;
    }
    25%{
        background-color:  transparent;
    }
    to{
        background-color: rgb(242, 190, 107);
       
    }

}

.fontTituloDeCaderno3{

    /* background-color: rgb(176, 128, 89,0.600);*/
    font-family: 'Comic Sans MS' ;
    /*letter-spacing: 10px;*/
  
    font-size: 50px;
    /*color:rgb(242, 190, 107) ;  */
    border-radius: 10px;
    padding: 0px 20px 0px 20px ;
    
        
    color:transparent ; 
    letter-spacing: 0px;
    background-color: rgba(176, 128, 89, 0);
    animation: animaFontTituloDeCaderno3 2s ;
    animation-fill-mode: forwards;
    animation-delay: 1s;
    


}


@keyframes animaFontTituloDeCaderno3{

    from{
        
        color:transparent ; 
        letter-spacing: 0px;
        background-color: rgba(176, 128, 89, 0);  
    }
    50%{ 

        
        background-color: rgba(176, 128, 89, 0);  
    }
    to{
        color:rgb(242, 190, 107) ; 
        letter-spacing: 10px;
        background-color: rgb(176, 128, 89,0.600); 
       
    }

}
/*@keyframes BackgroundAnimaFontTituloDeCaderno3{
    from{
 
        background-color: rgb(176, 128, 89,0.600);
    }
    20%{
        
        background-color: rgb(176, 128, 89);
    }
    
    40%{
        
        background-color: rgb(116, 77, 45);
    }
    
    60%{
        
        background-color: rgb(116, 77, 45);
    }
    
    80%{
        
        background-color: rgb(242, 190, 107);
    }
    to{
        background-color: white;
    }
}*/

.fontAnoDoCaderno{

    font-size: 30px;
    right: 100px;
    font-family:fantasy;
    color: rgb(116, 77, 45); 
    animation:  animaAnoEBotao 3s ; 
    animation-delay: 2s ;
    animation-fill-mode: backwards;

}
@keyframes animaAnoEBotao {
    from{
 
        background-color: transparent;
        border-color: transparent;
        color: transparent;
        
    }
    to{

        visibility: visible;
    }
}

#botaoDeIniciar{

    margin-top: -20px;
    width: 160px;
    height: 40px;
    background-color: white;
    border: 2px outset white ; 
    font-size: 18px;
    color: gray;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     animation-name: animaAnoEBotao ;
    animation:  animaAnoEBotao 3s ; 
    
    animation-delay: 1s ;
    animation-fill-mode: backwards;
} 
#botaoDeIniciar:hover{
  
    background-color: rgba(255, 255, 255, 0.160); 
} 
#botaoDeIniciar:active{
  
    border: 2px inset white ;
} 
 

.quadroRodaPe{

    background-color: white;
    width: 862px;
    height: 121px;   
    

}

/* Fim ABRIR CADERNO----------------------------XXXXXXXXXXXXXXXXXXXXXXXXXXXXX---------------------------------------------------

CAderno Aberto----------------------------------------------------------------------------------------------------------------------------*/
#tabelaCaderno{
 
    margin: 4px 0px 0px 2px;
    
}

#tabelaDeSeccao { 
    margin-left: 0px;
}

.seccao{

    width: 100px;
    height: 20px;
    background-color: rgba(176, 128, 89, 0.514);
    position: relative;
    border-top-left-radius: 6px;
    border-top-right-radius: 1px;
    
} 

.seccaoAfter{
  
     width: 0px;
    height: 0px;  
    left:100px;
    margin-top: -20px;
    margin-left: 100px; 
    
   
   border-top: solid 10px transparent ;
   border-left: 10px solid rgba(176, 128, 89, 0.514);
   border-bottom: 10px rgba(176, 128, 89, 0.514) solid;
   border-right: solid transparent 10px;
    

}

/*

#seccao1{
    background-color: rgb(116, 77, 45);
}
#seccaoAfter1{
   
   border-top: solid 10px transparent ;
   border-left: 10px solid rgb(116, 77, 45);
   border-bottom: 10px rgb(116, 77, 45) solid;
   border-right: solid transparent 10px;
    
} */
.nomeDeSeccao{

    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#nomeDeSeccao1{

}
#novaSeccao{

}

#tabelaQuadroPagina{

    background-color:rgb(116, 77, 45);
    width: 1250px;
    height: 600px;
    margin:-7px 0px 0px 0px; 
    border-radius: 2px;

}

.pagina{ 

    width: 1100px;
    height: 590px;
    margin: 0px 0px 0px 2px;
    background-color: white;


}

#fontPaginas{
    width: 90px;
    margin-left:-15px;
    margin-top:-284px;
    border-bottom: 1px white solid;
    padding-bottom: 4px;
    font-family: 'Comic Sans MS' ;
    font-size: 16px;
    color: rgb(176, 128, 89);
}


#tabelaDePaginas{ 
    width: 120px; 
    text-align: center;
    
    font-family: 'Calibri' ;
    font-size: 12px;
    background-color: rgb(176, 128, 89);
}
 

.tdPaginas{

    background-color: transparent;  
    border-radius: 3px;
    text-align: center;  
    
}
.tdPaginas:hover{
    background-color: rgba(255, 255, 255, 0.774);
}
#tdPagina1{
    background-color: white; 
    
}


#botaoAdicionarPagina{

    width:  40px;
    height: 40px;
    background-color: white; 
    border: 1px outset white ;
    border-radius: 50%  ;
} 
#botaoAdicionarPagina:hover{

background-color: rgba(255, 255, 255, 0.815); 
}

#botaoAdicionarPagina:active{

border: 1px inset white ;
}
/* Paginas em sí--------------------------------------------*/

#tabelaDePagina{
    background-color: white;
    width: 1100px;
    height: 590px;
}

#tabelaDeDiasESemana{

    margin-top: -16px;
    width: 978px;
    height: 580px;
}


#tabelaDeDiasESemana tr td{
 
    font-family: 'Comic Sans MS'; 
    
    text-align: center;
}

 


#tabelaDeDiasESemana .trSemana td{
  
    font-size: 13px; 
    text-align: center;  
    width: 190px; 
    background-color: thistle;
    
}

#trDeDias{  

    text-align: center;
}
  
#tabelaDiaNaEDaSemana{
    text-align: center;
}
.imagemCafeDeDias{

    max-width: 20px;
    max-height: 30px;
}
.diaDoMes{

    font-family: 'Century Schoolbook';
    font-size: 20px;
  
    
    
}

.diaNaSemana{
 
    font-family: 'Bahnschrift';
    letter-spacing: 2px;
    
    
}

#tabelaQuadroDeAnotacoes{

    background-color: rgb(244, 123, 104);
    font-family: 'Comic Sans MS' ;
    width: 180px;
    height: 450px;
    border-radius: 10px;
}
#pAnotacoes{

    
    color: white; 
    font-size: 14px; 

}
#quadroDasAnotacoes{
   
    background-color: transparent;
    width: 180px; 
    height: 410px;
    font-size: 16px;
    
    overflow-y: auto;
    overflow-x: hidden;
}  
.tabelaQuadrosETarefas{

   width: 200px;
   
   word-break: keep-all;
}

.quadradoDeTarefasPintado1{
 
    border: solid 2px rgb(248, 171, 89);
    
    max-width: 188px; 
    background-color: white;
     
    
} 
.QuadradoDeTarefasSemBorda{
  
    height: auto;
    max-width: 190px; 
    
    background-color: white;
} 
.imgBack{

    margin:0px;
    padding:0px;
    width:190px;
    height: 190px; 
    background-color: white;  
    background-size: 160px; 
    background-position: center;
    background-repeat: space;
    text-align: left;
}

#d1{
     background-image: url("/Users/kingPercis/Pictures/Mara Escola e Musicas... Life !/Project Us/Execução/ícones e imagens/Café 4.jpg");
    }
    
#d2{
    background-image: url("/Users/kingPercis/Pictures/Mara Escola e Musicas... Life !/Project Us/Execução/ícones e imagens/Café 5.jpg");
   }

   /*----------------------------------------------------------------------*/

   #cabecalhoDoCaderno{
       width:1000px ;
       margin-left: 30px;
   }
   
   #cabecalhoDoCaderno tr td{ 
}
   #titulo1{
       color: black;
       letter-spacing: 10px;
       font-size: 60px;
       font-family: 'Segoe UI';
       width: auto;
       
   }
   #titulo2{
    color: rgb(176, 128, 89);
    letter-spacing: 2px;
    font-size: 50px;
    font-weight: 800;
    font-family: 'Kristen ITC';
    margin-left: 80px;
}
.dData{

    width: 100px;
    height: 20px; 
    border: 2px black solid;
    display:inline-block;
}
#fontData{
    
    color: rgb(176, 128, 89);
    font-family: 'Franklin Gothic Medium';
}

#dMeses{
    background-color: rgb(116, 77, 45);
    width: 600px;
    height: 200px;
   display: inline-block;
   border-radius: 7px;
   margin-left: 20px;

}
#tabelaDMeses{

    padding: 10px; 
    text-align: center;
}
.dMes{
    width:120px ;
    background-color: rgb(176, 128, 89);  color: white; 
    height: 30px;  margin: 10px;
    font-family: 'Comic Sans MS';  font-size: 16px;  letter-spacing: 3px; 
    border-radius: 4px;  font-weight: 500; 
}
 .dMes:hover{
     background-color: rgba(176, 128, 89, 0.377);
     cursor: pointer;
 }
 
 .dMes:active{
    background-color: rgb(176, 114, 89);
}

